<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158692115636-76uesn67qnd0oj57g2g8pini5tona8eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158692115636-76uesn67qnd0oj57g2g8pini5tona8eq</string>
	<key>API_KEY</key>
	<string>AIzaSyDhYRsd_k0zt-VBA-pkRLcBg5_kRXII0ik</string>
	<key>GCM_SENDER_ID</key>
	<string>158692115636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talentnest.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-e936d</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-e936d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:158692115636:ios:ea7fcc0ccda573b9a5c3e1</string>
	<key>DATABASE_URL</key>
	<string>https://tinderclone-e936d.firebaseio.com</string>
</dict>
</plist>
